@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
  margin: 0;
  padding: 0;
  background: #0D0D0D;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.contact-hero {
  background: url("../images/contact_us/bg contact.png") center/cover no-repeat;
  height: 380px;
}

.hero-overlay {
  color: #fff;
  width: 100%;
}

.hero-overlay h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.hero-overlay p {
  max-width: 700px;
  font-size: 18px;
  margin: 0 auto;
  color: #ddd;
  line-height: 1.6;
  display: flex;
  text-align: center;
  align-items: center;
}

.contact-main {
  color: #fff;
  padding: 70px 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 60px;
  width: 100%;
  max-width: 1200px;
}

.contact-form {
  flex: 1;
  min-width: 340px;
  max-width: 520px;
  background: #667080;
  padding: 35px 40px;
  border-radius: 20px;
  box-sizing: border-box;
}

.contact-form h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}

.contact-form p {
  color: #ccc;
  font-size: 0.95rem;
  margin-bottom: 25px;
  line-height: 1.6;
}

.contact-form input,
.contact-form textarea {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 12px 14px;
  color: #fff;
  font-size: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 18px;
  transition: 0.3s;
  font-family: Poppins;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #bbb;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #fff;
}

.contact-form textarea {
  resize: none;
  height: 120px;
}

.submit-btn {
  background: #F1F1F1;
  color: #667080;
  border: none;
  padding: 12px 28px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: Poppins;
}

.submit-btn:hover {
  background: #bbb;
}

.contact-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  margin-top: 20px;
}

.contact-text {
    margin-top: 40px;
}

.contact-text h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact-text p {
  color: #bbb;
  margin-bottom: 25px;
  font-size: 0.95rem;
}

.option-item {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  border-radius: 15px;
  padding: 25px 20px;
}

.option-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 15px; 
}

.option-item span {
  font-size: 15px;
  line-height: 1.5;
  color: #fff; 
}

.thankyou-banner {
  position: relative;
  background: url("../images/contact_us/cinema bg.png") center/cover no-repeat;
  height: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  margin-top: 60px;
}

.banner-overlay {
  padding: 60px 20px;
  width: 100%;
}

.banner-logo {
  width: 160px;
  margin-bottom: 15px;
}

.thankyou-banner h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.thankyou-banner p {
  font-size: 1rem;
  color: #ddd;
  line-height: 1.5;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.popup.show {
  opacity: 1;
  pointer-events: auto;
}

.popup-content {
  background: #667080;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  width: 320px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  animation: fadeIn 0.3s ease;
}

.popup-content h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.popup-content p {
  color: #ccc;
  margin-bottom: 25px;
}

.popup-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 kolom sama lebar */
  gap: 20px; 
}

.popup-btn {
  border: none;
  padding: 12px 15px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-family: Poppins;
  font-size: 15px;
}

.popup-btn.cancel {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.popup-btn.continue {
  background: #F1F1F1;
  color: #000000;
}

@keyframes fadeIn {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

/* === RESPONSIVE === */
@media (max-width: 850px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-form,
  .contact-options {
    max-width: 100%;
  }

  .thankyou-banner {
    height: 250px;
  }

  .banner-logo {
    width: 120px;
  }
}
