@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
body {
  background:#0d0d0d; 
  color:#fff;
  line-height: 1.7;
  padding: 30px 20px;  
}

.content-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; 
  padding: 0 30px;
}

header {
  margin-bottom: 40px;
}

.support {
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0.7;
  margin-bottom: 40px;
}

h1 {
  font-size: 62px;
  font-weight: 600;
  margin: 10px 0;
  line-height: 1.05;
  margin-bottom: 42px;
}

.updated {
  font-size: 15px;
  margin-bottom: 15px;
  opacity: 0.7;
  margin-bottom: 40px;
}

.divider {
  width: 100%;
  height: 2px;
  border: none;
  margin-top: 10px;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, #333, #777);
  border-radius: 5px;
  margin: 20px 0;
}

main {
  max-width: 800px;
  margin-top: 60px;
}

h2 {
  margin-top: 30px;
  font-size: 40px;
}

h3 {
  margin-top: 20px;
  font-size: 18px;
  color: #dddddd;
}

p, ul {
  margin: 10px 0;
  color: #cccccc;
  font-size: 20px;
}

ul {
  margin-left: 20px;
}

ul li {
  margin-bottom: 5px;
}